N8N Json Template/[WEBHOOK] Tool - Check Availability.json
{
  "name": "[WEBHOOK] Tool - Check Availability",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "236a56120186067d30d83fdb5ea54fccb0dc8e98072429f679cc35ccc1804208@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI Receptionist"
        },
        "returnAll": true,
        "timeMin": "={{ $json.body.startTime }}",
        "timeMax": "={{ $json.body.endTime }}",
        "options": {
          "recurringEventHandling": "expand"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "76cd4864-83b7-44fb-ae0c-cd425d80515c",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PBIFzTe9LgnY5Idr",
          "name": "Nugi - Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "14d65b5b-75f0-457f-a727-7050398493ef",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "bd110094-d687-4304-87f1-44c8a1320c05",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f9092c00-bfa8-4e9f-a95b-8669c0b8a031",
              "name": "result",
              "value": "Waktu tersebut kosong. bisa lanjutkan booking.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -128
      ],
      "id": "85fcc819-f108-464e-b33f-0147838c468b",
      "name": "True"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9d11d2f3-6c3d-4f08-a1f7-4a092f40b33f",
              "name": "result",
              "value": "Maaf, waktu tersebut sudah terisi. Tanyakan apakah ada waktu lain yang diinginkan.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        80
      ],
      "id": "e07045fc-7737-4129-bee3-383d5ecb4906",
      "name": "False"
    },
    {
      "parameters": {
        "path": "87968e3e-c422-476f-b46d-d666f40a84b0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "13bfb3f9-c99e-4cd0-bab8-5651f51a8a1f",
      "name": "Webhook",
      "webhookId": "87968e3e-c422-476f-b46d-d666f40a84b0"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "True",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3b3f6982-5338-4d01-9f67-da95be31180d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3af17f6c1ce68b709e8fadd68dc2e4577d899538782b91e98e5717f631d46d39"
  },
  "id": "8cRknpaIMUfpEbRv",
  "tags": [
    {
      "updatedAt": "2025-12-26T07:27:35.254Z",
      "createdAt": "2025-12-26T07:27:35.254Z",
      "id": "5HB1FvAeKH9FLc5N",
      "name": "AI Receptionist"
    }
  ]
}