N8N Json Template/[WEBHOOK] Tool - Lookup Appointment.json
{
  "name": "[WEBHOOK] Tool - Lookup Appointment",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "236a56120186067d30d83fdb5ea54fccb0dc8e98072429f679cc35ccc1804208@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "AI Receptionist"
        },
        "returnAll": true,
        "timeMax": "=",
        "options": {
          "query": "={{ $json.body.email }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "7ed80d6d-d6d8-4658-ac4b-782a52c53e8f",
      "name": "Get many events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "PBIFzTe9LgnY5Idr",
          "name": "Nugi - Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f0de21f5-afac-486e-a1e5-8013f4b427ec",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "1375fac8-8754-4bf3-af96-72677359e410",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f38fbf34-54fe-4968-85d5-446fc2c93417",
              "name": "result",
              "value": "=ada jadwal: {{ $('Get many events').item.json.summary }} pada tanggal {{ $('Get many events').item.json.start.dateTime }} - {{ $('Get many events').item.json.end.dateTime }}. event_id: {{ $('Get many events').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -112
      ],
      "id": "870bf98e-16eb-4be4-b42f-d026a3850020",
      "name": "ada"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f38fbf34-54fe-4968-85d5-446fc2c93417",
              "name": "result",
              "value": "=tidak menemukan jadwal aktif untuk email tersebut.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        64
      ],
      "id": "b96dd58a-4873-43d9-8c0a-0e0694fe10d9",
      "name": "gada"
    },
    {
      "parameters": {
        "path": "27a3a653-6477-48cf-92d1-fcf06d0075f2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "071a31a0-a5fb-40aa-831a-b2813348881f",
      "name": "Webhook",
      "webhookId": "27a3a653-6477-48cf-92d1-fcf06d0075f2"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "ada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "gada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3b8c9345-761c-4f6c-bd33-4f0cf290039e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3af17f6c1ce68b709e8fadd68dc2e4577d899538782b91e98e5717f631d46d39"
  },
  "id": "p5WAEBT7eViEUcN0",
  "tags": [
    {
      "updatedAt": "2025-12-26T07:27:35.254Z",
      "createdAt": "2025-12-26T07:27:35.254Z",
      "id": "5HB1FvAeKH9FLc5N",
      "name": "AI Receptionist"
    }
  ]
}